body {
	background-image: url(Coffee.jpg);
	background-size: cover;
}

.nav ,.nav-link,.nav-link-active{
	color: white;
	font-family: "Courgette", cursive;
	font-size: 20px;
}

nav a:hover{
	color: #CD88AF;
}
.flex-container {
	display: flex;
	justify-content: flex-start;
}
